<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<!-- <div class="col-lg-6">
					<div class="contact">
						<h2>Get In Touch</h2>
					</div>
				</div> -->
				<!-- <div class="col-lg-6"> -->
					<div class="contact">
						<ul class="list-inline banner-social-buttons">
							{% for contact in site.contact %}
							<li>
								<a href="{{ contact.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ contact.icon }} fa-fw"></i> <span class="network-name">{{ contact.title }}</span></a>
							</li>
							{% endfor %}
						</ul>
					</div>
				<!-- </div> -->
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
