<section id="testimonials">
  <div class="testimonial-section">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Testimonials</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <ul class="testimonial">
          
            {% for post in site.posts reversed %}
              {% if post.category == 'Testimonials' %}
              {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                {% if thecycle == 'odd' %}      
                
                  <li>
                    <div class="testimonial-image">
                      <img class="img-circle img-responsive" src="img/testimonial/{{ post.img }}" alt="{{ post.img }}">
                    </div>
                    <div class="testimonial-panel">
                      <div class="testimonial-heading">
                        <h4 class="subheading">{{ post.title }}</h4>
                      </div>
                      <div class="testimonial-body">{{ post.content }}</div>
                    </div>
                  </li>                
                {% else %}
                  <li class="testimonial-inverted">
                    <div class="testimonial-image">
                      <img class="img-circle img-responsive" src="img/testimonial/{{ post.img }}" alt="{{ post.img }}">
                    </div>
                    <div class="testimonial-panel">
                      <div class="testimonial-heading">
                        <h4 class="subheading">{{ post.title }}</h4>
                      </div>
                      <div class="testimonial-body">{{ post.content }}</div>
                    </div>
                  </li>                
                
                {% endif %}
              {% endif %}        
            {% endfor %}
            
          </ul>
      </div>
    </div>
  </div>
</section>
